@using TestApplication.Common.Dto.UserDtos
@model UserForgotPasswordDto
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevPath | Sign  in</title>

    <!-- Google Font: Source Sans Pro -->
    <!-- Font Awesome -->
    <!-- icheck bootstrap -->

    <link href="~/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/Index"><b>Half</b>Ober</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Write your E-mail for reset password</p>

                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                    </div>
                    <div class="ml-5 col-8">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>
                }

                @Html.ValidationSummary(false)


                <!-- /.social-auth-links -->


            </div>
            <!-- /.login-card-body -->
        </div>
    </div>


</body>
</html>