@using TestApplication.Common.Dto.UserDtos
@model UserRegisterDto
@{
    ViewData["Title"] = "Register";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CBU Sosyal | Register</title>

    <!-- Google Font: Source Sans Pro -->
    <!-- Font Awesome -->
    <!-- icheck bootstrap -->

    <link href="~/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/Index"><b>Dev</b> Path</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {


                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                        <div class="input-group-append">
                            <div class="input-group-text">

                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                        <div class="input-group-append">
                            <div class="input-group-text">

                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Firstname", type = "text" })
                        <div class="input-group-append">
                            <div class="input-group-text">

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                @Html.ValidationSummary(false)


                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="Home/Signin">You Have Account ? <strong> Sign In</strong></a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>


</body>
</html>

